NODE_ENV=development
PORT=5555
SECRET=SUPERSECRET123
CLIENT_URL=http://localhost:7777
DASHBOARD_URL=http://localhost:8888
CLIENT_URL_WWW=http://localhost:7777
DASHBOARD_URL_WWW=http://localhost:8888
DATABASE=mongodb://localhost:27017/db
SENTRY_DSN=
