NODE_ENV=development
PORT=3000
DATABASE=
SENTRY_DSN=
ALGOLIA_APP_ID=
ALGOLIA_PUBLIC_KEY=
ALGOLIA_PRIVATE_KEY=
SECRET=SUPERSECRET
CORS_ORIGINS=["http://localhost:3001", "http://localhost:3002"]
CLIENT_URL=http://localhost:3001
DASHBOARD_URL=http://localhost:3002
POSTMARK_API_KEY=
SENDER_EMAIL=no-reply@avilatek.com
AWS_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
INTERCONECTADOS_USER=
INTERCONECTADOS_PASSWORD=
