name: CI - Build

on:
  push:
    branches: ['main', 'staging', 'development']
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      NODE_ENV: CI
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      TURBO_REMOTE_ONLY: true

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      # - name: Test
      #   run: npm run test

      - name: If failure
        if: ${{ failure() }}
        run: |
          echo '{
            "title": "Falla en el workflow: ${{ github.run_id }}",
            "body": "Este issue fue creado automáticamente por _GitHub Action workflow_ **${{ github.workflow }}**. \n\n debido a un fallo en la ejecución número: _${{ github.run_id }}_.",
            "assignees": ["$GITHUB_ACTOR"],
            "labels": ["bug", "build:issue"]
            }'
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --header 'X-GitHub-Api-Version: 2022-11-28' \
          --data '{
            "title": "Falla en el workflow: ${{ github.run_id }}",
            "body": "Este issue fue creado automáticamente por _GitHub Action workflow_ **${{ github.workflow }}**. \n\n debido a un fallo en la ejecución número: [${{ github.run_id }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}).",
            "assignees": ["${{ github.actor }}"],
            "labels": ["bug", "build:issue"]
            }'
